@import url('https://fonts.googleapis.com/css2?family=Rambla:wght@400;700&display=swap');

:root {
    --blue: #2F80ED;
    --lightgray: #E5E5E5;
    --gray: #828282;
    --darkblue: #102C51;
    --border: #CFCFCF;
}

* {
    font-family: 'Rambla', sans-serif;
    font-style: normal;
}

html {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    background: #F4F8FA;
}

#root {
    width: 100%;
    height: 100%;
    margin: 0;
}

.container {
    width: 400px;
    height: 606px;
    margin: auto;
}

.w-100 {
    width: 100%;
}

/* Flex */

.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.j-start {
    justify-content: flex-start;
}

.j-between {
    justify-content: space-between;
}

.j-center {
    justify-content: center;
}

.a-start {
    align-items: flex-start;
}

.a-center {
    align-items: center;
}

.header {
    position: relative;
    padding: 36px 20px;
    box-sizing: border-box;
}

.header__icon-link {
    position: absolute;
    top: calc(50% - 14px);
    left: 20px;
    cursor: pointer;
}

.header__h2 {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: var(--blue);
    margin: 0;
}

/* Calculator */

.calculator-wrapper {
    background: #FFFEFE;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1), 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 6px;

    padding: 44px 46px 36px;
    box-sizing: border-box;
}

.calculator__h1 {
    width: 124px;
    font-weight: normal;
    font-size: 30px;
    line-height: 37px;

    color: var(--darkblue);
    margin-block-end: 24px;
}

.calculator__form {

}

/* Custom toggle switch */
.switch {
    position: relative;
    display: inline-block;
    width: 39px;
    height: 19px;
    margin-right: 7px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #FFFFFF;
    border: 1px solid var(--border);
    border-radius: 9px;
    -webkit-transition: .2s;
    transition: .2s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 1px;
    bottom: 1px;
    background-color: var(--gray);
    border-radius: 50%;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
    background-color: var(--blue);

}

.custom-label {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;

    color: var(--darkblue);
}

.custom-input-container {
    position: relative;
    margin-bottom: 22px;
}

.custom-input {
    height: 44px;
    box-sizing: border-box;

    border: 1px solid var(--border);
    border-radius: 5px;
    text-align: center;

    font-weight: normal;
    font-size: 18px;
    line-height: 22px;

    color: #000000;
    background: none;
}

.custom-input:focus {
    border: 1px solid var(--blue);
}

.custom-input__icon {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 42px;
    height: 42px;

    background: #F4F8FA;
    border-radius: 4px 0 0 4px;

    font-weight: normal;
    font-size: 16px;
    line-height: 20px;

    color: var(--gray);
}

.custom-input__icon_last {
    border-radius: 0 4px 4px 0;
    right: 1px;
    left: auto;
}

.custom-input__button {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.custom-input__button:hover {
    background: var(--lightgray);
}

.calculator__result-container {
    border: 1px solid #CFCFCF;
    box-sizing: border-box;
    filter: drop-shadow(0px 1px 10px rgba(0, 0, 0, 0.03));
    border-radius: 4px;
    margin-bottom: 24px;
}

.calculator-result__amount {
    box-sizing: border-box;
    padding: 40px 25px;
}

.calculator-result__amount_p {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;

    color: var(--darkblue);
    margin: 0;
}

.calculator-result__amount_h3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;

    color: var(--blue);
    margin: 0;
}

.calculator-result__stuff-info {
    background: #F4F8FA;
    border-radius: 0 0 4px 4px;
    padding: 10px 25px;
    box-sizing: border-box;
}

.calculator-result__stuff-info_p {
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    color: var(--darkblue);
    margin: 0;
}

.custom-button {
    background: #2F80ED;
    border-radius: 10px;
    border: none;
    text-align: center;
    padding: 10px;

    font-weight: bold;
    font-size: 18px;
    line-height: 22px;

    color: #F2F2F2;
    cursor: pointer;
}

.custom-button:hover {
    background: var(--darkblue);
    transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 400px) {
    .container {
        width: 100%;
        height: 100%;
        position: relative;
    }

    .calculator-wrapper {
        position: absolute;
        top: 94px;
        bottom: 0;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1), 0 0 20px rgba(0, 0, 0, 0.1);
        border-radius: 6px 6px 0 0;
        padding-bottom: 64px;
    }
}